body {
    width: 150px;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 30px;
}

p, label, button, input, select {
    font-size: 13px;
}

#intervalSizeInput {
    width: 30px;
}